{% extends "blog/base.html" %}
{% block title %} Login {% endblock %}

{% block content %}
    <h1> LOGIN </h1>
    
    {% if form.errors %}
        <p class="error-message">Your username or password does not match</p>
    {% endif %}
    
    <div class="login-form"> 
        <form action="{% url 'login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{% url 'post_page' %}"/>
            
            <p><input type="submit" value="Log-in" class="submit-btn"></p>
        </form>
        
        <p class="forgot-password">
            <a href="{% url 'password_reset' %}">
                Forgot Your Password? 
            </a>
        </p>
    </div>
{% endblock %}
